@import 'antd/dist/antd.css';
.ml{
    margin-left: 10px;
}
.mt{
    margin-top: 20px;
}
.red{
    color: red;
}
.wrap{
    width: 95%;
    margin: auto;
}
.ma{
    margin: auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.w50{
    width: 60%;
}